.adventure__header
  position: relative
  background: $primary-color url(../../assets/img/adventure__header/header.jpg) no-repeat
  background-position-x: 50%

  &::before
    background: url(../../assets/img/adventure__header/Rav_4.png) no-repeat
    position: absolute
    // top: 0
    left: (calc( 41% - (315px / 2) ))
    right: 0
    bottom: -113px
    content: ""
    height: 315px
    width: 560px

.container
.adventure__surfing
.surfing__head
  padding-top: 145px
  img
    padding-bottom: 10px

.surfing__header
  color: $default-color
  font-family: $mainFontBold
  font-size: 100px
  text-transform: uppercase
  letter-spacing: 1px

.surfing__test
  color: $default-color
  font-family: $mainFontTextBold
  width: 100%
  padding: 0 20px
  text-align: center
  font-size: 28px
  text-transform: uppercase
  letter-spacing: 1.4px
  margin-top: -15px
  padding-bottom: 17px
.surfing__stat
  color: $default-color
  font-family: $mainFontTextBold
  font-size: 16px
  text-transform: uppercase
  letter-spacing: 0.16px
  padding-bottom: 226px
.stat
  display: flex
  justify-content: center
  span
    display: flex
    margin: 0 15px
.stat__img
  img
    margin-right: 10px